* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111827;
}
#title_main {
  margin-left: 90px;
  margin-top: 80px;
  font-family: Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}
#btnBox {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 15px;
  border-radius: 8px;
  height: 240px;
  background-color: #1e293b;
  padding: 10px;
}
.btn,
.btn1,
.btn2 {
  width: 360px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #94a3b8;
  cursor: pointer;
  background-color: transparent;
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f1f5f9;
  margin-top: -50px;
}
.btn:hover {
  transition: 0.3s;
  background-color: dodgerblue;
  border: none;
  color: #131313;
}
.btn1:hover {
  transition: 0.3s;
  background-color: dodgerblue;
  border: none;
  color: #131313;
}
.btn2:hover {
  transition: 0.3s;
  background-color: dodgerblue;
  border: none;
  color: #131313;
}
#counter {
  color: #fff;
  margin-left: 20px;
  margin-top: -70px;
}
#counterNum {
  color: #fff;
  margin-left: 160px;
  margin-top: -35px;
}
